.adt-p {
  &-1 {
    padding: var(--adt-spacing-01);
  }

  &-2 {
    padding: var(--adt-spacing-02);
  }

  &-3 {
    padding: var(--adt-spacing-03);
  }

  &-4 {
    padding: var(--adt-spacing-04);
  }

  &-5 {
    padding: var(--adt-spacing-05);
  }

  &-6 {
    padding: var(--adt-spacing-06);
  }

  &-7 {
    padding: var(--adt-spacing-07);
  }

  &-8 {
    padding: var(--adt-spacing-08);
  }

  &-9 {
    padding: var(--adt-spacing-09);
  }

  &-auto {
    padding: auto;
  }

  &r {
    &-1 {
      padding-right: var(--adt-spacing-01);
    }

    &-2 {
      padding-right: var(--adt-spacing-02);
    }

    &-3 {
      padding-right: var(--adt-spacing-03);
    }

    &-4 {
      padding-right: var(--adt-spacing-04);
    }

    &-5 {
      padding-right: var(--adt-spacing-05);
    }

    &-6 {
      padding-right: var(--adt-spacing-06);
    }

    &-7 {
      padding-right: var(--adt-spacing-07);
    }

    &-8 {
      padding-right: var(--adt-spacing-08);
    }

    &-9 {
      padding-right: var(--adt-spacing-09);
    }

    &-auto {
      padding-right: auto;
    }
  }

  &t {
    &-1 {
      padding-top: var(--adt-spacing-01);
    }

    &-2 {
      padding-top: var(--adt-spacing-02);
    }

    &-3 {
      padding-top: var(--adt-spacing-03);
    }

    &-4 {
      padding-top: var(--adt-spacing-04);
    }

    &-5 {
      padding-top: var(--adt-spacing-05);
    }

    &-6 {
      padding-top: var(--adt-spacing-06);
    }

    &-7 {
      padding-top: var(--adt-spacing-07);
    }

    &-8 {
      padding-top: var(--adt-spacing-08);
    }

    &-9 {
      padding-top: var(--adt-spacing-09);
    }

    &-auto {
      padding-top: auto;
    }
  }

  &l {
    &-1 {
      padding-left: var(--adt-spacing-01);
    }

    &-2 {
      padding-left: var(--adt-spacing-02);
    }

    &-3 {
      padding-left: var(--adt-spacing-03);
    }

    &-4 {
      padding-left: var(--adt-spacing-04);
    }

    &-5 {
      padding-left: var(--adt-spacing-05);
    }

    &-6 {
      padding-left: var(--adt-spacing-06);
    }

    &-7 {
      padding-left: var(--adt-spacing-07);
    }

    &-8 {
      padding-left: var(--adt-spacing-08);
    }

    &-9 {
      padding-left: var(--adt-spacing-09);
    }

    &-auto {
      padding-left: auto;
    }
  }

  &b {
    &-1 {
      padding-bottom: var(--adt-spacing-01);
    }

    &-2 {
      padding-bottom: var(--adt-spacing-02);
    }

    &-3 {
      padding-bottom: var(--adt-spacing-03);
    }

    &-4 {
      padding-bottom: var(--adt-spacing-04);
    }

    &-5 {
      padding-bottom: var(--adt-spacing-05);
    }

    &-6 {
      padding-bottom: var(--adt-spacing-06);
    }

    &-7 {
      padding-bottom: var(--adt-spacing-07);
    }

    &-8 {
      padding-bottom: var(--adt-spacing-08);
    }

    &-9 {
      padding-bottom: var(--adt-spacing-09);
    }

    &-auto {
      padding-bottom: auto;
    }
  }

  &x {
    &-1 {
      padding-left: var(--adt-spacing-01);
      padding-right: var(--adt-spacing-01);
    }

    &-2 {
      padding-left: var(--adt-spacing-02);
      padding-right: var(--adt-spacing-02);
    }

    &-3 {
      padding-left: var(--adt-spacing-03);
      padding-right: var(--adt-spacing-03);
    }

    &-4 {
      padding-left: var(--adt-spacing-04);
      padding-right: var(--adt-spacing-04);
    }

    &-5 {
      padding-left: var(--adt-spacing-05);
      padding-right: var(--adt-spacing-05);
    }

    &-6 {
      padding-left: var(--adt-spacing-06);
      padding-right: var(--adt-spacing-06);
    }

    &-7 {
      padding-left: var(--adt-spacing-07);
      padding-right: var(--adt-spacing-07);
    }

    &-8 {
      padding-left: var(--adt-spacing-08);
      padding-right: var(--adt-spacing-08);
    }

    &-9 {
      padding-left: var(--adt-spacing-09);
      padding-right: var(--adt-spacing-09);
    }

    &-auto {
      padding-left: auto;
      padding-right: auto;
    }
  }

  &y {
    &-1 {
      padding-top: var(--adt-spacing-01);
      padding-bottom: var(--adt-spacing-01);
    }

    &-2 {
      padding-top: var(--adt-spacing-02);
      padding-bottom: var(--adt-spacing-02);
    }

    &-3 {
      padding-top: var(--adt-spacing-03);
      padding-bottom: var(--adt-spacing-03);
    }

    &-4 {
      padding-top: var(--adt-spacing-04);
      padding-bottom: var(--adt-spacing-04);
    }

    &-5 {
      padding-top: var(--adt-spacing-05);
      padding-bottom: var(--adt-spacing-05);
    }

    &-6 {
      padding-top: var(--adt-spacing-06);
      padding-bottom: var(--adt-spacing-06);
    }

    &-7 {
      padding-top: var(--adt-spacing-07);
      padding-bottom: var(--adt-spacing-07);
    }

    &-8 {
      padding-top: var(--adt-spacing-08);
      padding-bottom: var(--adt-spacing-08);
    }

    &-9 {
      padding-top: var(--adt-spacing-09);
      padding-bottom: var(--adt-spacing-09);
    }

    &-auto {
      padding-top: auto;
      padding-bottom: auto;
    }
  }
}
