.box-shadow,
.shadow,
.bs {
  &-01 {
    box-shadow: var(--box-shadow-01);
  }
  &-02 {
    box-shadow: var(--box-shadow-02);
  }
  &-03 {
    box-shadow: var(--box-shadow-03);
  }
  &-04 {
    box-shadow: var(--box-shadow-04);
  }
  &-05 {
    box-shadow: var(--box-shadow-05);
  }
  &-06 {
    box-shadow: var(--box-shadow-06);
  }
  &-07 {
    box-shadow: var(--box-shadow-07);
  }
  &-08 {
    box-shadow: var(--box-shadow-08);
  }
  &-09 {
    box-shadow: var(--box-shadow-09);
  }
  &-10 {
    box-shadow: var(--box-shadow-10);
  }
  &-11 {
    box-shadow: var(--box-shadow-11);
  }
  &-12 {
    box-shadow: var(--box-shadow-12);
  }
  &-13 {
    box-shadow: var(--box-shadow-13);
  }
  &-14 {
    box-shadow: var(--box-shadow-14);
  }
  &-15 {
    box-shadow: var(--box-shadow-15);
  }
  &-16 {
    box-shadow: var(--box-shadow-16);
  }
  &-17 {
    box-shadow: var(--box-shadow-17);
  }
  &-18 {
    box-shadow: var(--box-shadow-18);
  }
  &-19 {
    box-shadow: var(--box-shadow-19);
  }
  &-20 {
    box-shadow: var(--box-shadow-20);
  }
  &-21 {
    box-shadow: var(--box-shadow-21);
  }
  &-22 {
    box-shadow: var(--box-shadow-22);
  }
  &-23 {
    box-shadow: var(--box-shadow-23);
  }
  &-24 {
    box-shadow: var(--box-shadow-24);
  }
  &-transition {
    &-extra-fast,
    &-xf,
    &-x-fast {
      transition: box-shadow ease var(--time-extra-fast);
    }
    &-fast,
    &-f {
      transition: box-shadow ease var(--time-fast);
    }
    &-slow,
    &-s {
      transition: box-shadow ease var(--time-slow);
    }
    &-extra-slow,
    &-xs,
    &-x-slow {
      transition: box-shadow ease var(--time-extra-slow);
    }
  }
}
