@import 'reset';
@import 'variables';
@import 'composition';
@import 'utilities';
@import 'blocks';

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
}

h1 {
  font-size: var(--adt-size-xxxl);
}

h2 {
  font-size: var(--adt-size-xxl);
}

h3 {
  font-size: var(--adt-size-xl);
}

h4 {
  font-size: var(--adt-size-l);
}

h5 {
  font-size: var(--adt-size-ml);
}

h6 {
  font-size: var(--adt-size-m);
}
