.adt {
  &-grad {
    &-sky {
      &-l {
        background-image: linear-gradient(to left, var(--sky-brand-gradient));
      }

      &-r {
        background-image: linear-gradient(to right, var(--sky-brand-gradient));
      }

      &-t {
        background-image: linear-gradient(to top, var(--sky-brand-gradient));
      }

      &-b {
        background-image: linear-gradient(to bottom, var(--sky-brand-gradient));
      }
    }

    &-media {
      &-l {
        background-image: linear-gradient(to left, var(--sky-media-gradient));
      }

      &-r {
        background-image: linear-gradient(to right, var(--sky-media-gradient));
      }

      &-t {
        background-image: linear-gradient(to top, var(--sky-media-gradient));
      }

      &-b {
        background-image: linear-gradient(to bottom, var(--sky-media-gradient));
      }
    }

    &-yo {
      &-l {
        background-image: linear-gradient(to left, var(--sky-yellow-orange-gradient));
      }

      &-r {
        background-image: linear-gradient(to right, var(--sky-yellow-orange-gradient));
      }

      &-t {
        background-image: linear-gradient(to top, var(--sky-yellow-orange-gradient));
      }

      &-b {
        background-image: linear-gradient(to bottom, var(--sky-yellow-orange-gradient));
      }
    }

    &-op {
      &-l {
        background-image: linear-gradient(to left, var(--sky-orange-pink-gradient));
      }

      &-r {
        background-image: linear-gradient(to right, var(--sky-orange-pink-gradient));
      }

      &-t {
        background-image: linear-gradient(to top, var(--sky-orange-pink-gradient));
      }

      &-b {
        background-image: linear-gradient(to bottom, var(--sky-orange-pink-gradient));
      }
    }

    &-pp {
      &-l {
        background-image: linear-gradient(to left, var(--sky-pink-purple-gradient));
      }

      &-r {
        background-image: linear-gradient(to right, var(--sky-pink-purple-gradient));
      }

      &-t {
        background-image: linear-gradient(to top, var(--sky-pink-purple-gradient));
      }

      &-b {
        background-image: linear-gradient(to bottom, var(--sky-pink-purple-gradient));
      }
    }

    &-pt {
      &-l {
        background-image: linear-gradient(to left, var(--sky-purple-turquoise-gradient));
      }

      &-r {
        background-image: linear-gradient(to right, var(--sky-purple-turquoise-gradient));
      }

      &-t {
        background-image: linear-gradient(to top, var(--sky-purple-turquoise-gradient));
      }

      &-b {
        background-image: linear-gradient(to bottom, var(--sky-purple-turquoise-gradient));
      }
    }
  }
}
