.adt-text {
  &-01 {
    color: var(--adt-text-01);
  }
  &-02 {
    color: var(--adt-text-02);
  }
  &-03 {
    color: var(--adt-text-03);
  }
  &-grad {
    &-sky {
      background: linear-gradient(to right, var(--sky-brand-gradient));
      color: transparent;
      background-clip: text;
      width: fit-content;
    }

    &-media {
      background: linear-gradient(to right, var(--sky-media-gradient));
      color: transparent;
      background-clip: text;
      width: fit-content;
    }
  }
}
